:root {
    --main-white: #FFF;
}

.header {
    display: flex;
    justify-content: center;
    background-color: var(--main-white);
}

.list {
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}